// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$c-primary: #5353F9;
.c-primary {color: $c-primary;}
$text-color-dark: #191919;

$c-title-blue-dark: #222272;
$c-bg-legal: #1B1B64;

$bg-secondary-botton:#D1D1D1;
$bg-hover-secondary: #707070;